<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Templates Tutorial</title>
</head>
<body>
<div style="width:50%;margin:0 auto; font-size:250%">
    <h1>User Profile</h1>
    <table>
        <tr>
            <th>Name</th>
            <td>{{ name }}</td>
        </tr>
        <tr>
            <th>Father's Name</th>
            <td>{{ fname }}</td>
        </tr>
        <tr>
            <th>Course</th>
            <td>{{ course }}</td>
        </tr>
        <tr>
            <th>Address</th>
            <td>{{ address }}</td>
        </tr>
    </table>
</div>
</body>
</html>
